h2{
    color:#1C3879;
}
#h22{
    font-weight:800;
    font-size:30px;
}
body{
    background-color:#59C1BD ;
}
#main{
    background-color: #E8F3D6;
}
#hrr{
    color:#144272;
    
}
#h11{
    padding: 30px;
    text-align: center;
    background:#3A8891;
    color:white;
    font-size: 30px;
    margin:0;
}
#div1{
padding:20px;
font-weight:800;
font-family: 'Inter', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-size: 20px;
background-color: #E8F3D6;


}
#div2{
    padding:20px;
    font-weight:800;
    font-family: 'Inter', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-size: 20px;
background-color: #E8F3D6;
    
    }
 #div3{
        padding:20px;
        font-weight:800;
        
        font-family: 'Inter', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-size: 20px;
background-color: #E8F3D6;
        }
 #div4{
            padding:20px;
            font-weight:800;
            
            font-family: 'Inter', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-size: 20px;
background-color: #E8F3D6;
            }